{
  "presets": [
		["@babel/preset-env", {
			"useBuiltIns": "entry",
      "debug": false,
      "corejs": "2.6.9"
    }],
    ["@babel/preset-react"]
  ],
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-dynamic-import"]
}