<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Rémikub</title>
  </head>
  <body>
    <div id="app-content"></div>
  </body>
</html>